/*-------------------------
	Simple reset
--------------------------*/


*{
	margin:0;
	padding:0;
}


/*-------------------------
	General Styles
--------------------------*/


body{
	font:14px/1.3  'Lato', Helvetica, Arial, Sans-Serif; 
   background-color: #ecf0f1;
}

h1 {font-family: 'Lato', Helvetica, Arial, Sans-Serif; }

a, a:visited {
	outline:none;
	color:#1c4f64;
}

a:hover{
	text-decoration:none;
}

section, footer, header{
	display: block;
}

#main{

}

#main2 {}

/*----------------------------
	Styles
-----------------------------*/

header {width:100%;   background-color:#34495e; padding:1em;}
header section {text-align: center; color:white; opacity: .9; margin-top:50px;}
section p, h1 {padding-top:30px; }


.form-control{border-radius: 25px;}

